.card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    width: 50%;
    height: 300px;
    border-radius: 16px;
    padding: 24px;
    position: relative;
    color: black;
}

.blue {
    background-color: #a1ccfa;
}

.green {
    background-color: #7dd6c7;
}

h2 {
    font-size: 22px;
    margin: 0;
}

.subtitle {
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 0;
}

.benefits-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    position: absolute;
    bottom: 100px;
}

.card-ul {
    list-style: none;
    padding-left: 15px;
    position: absolute;
    bottom: 20px;
}

li {
    font-size: 14px;
    line-height: 1.4;
    position: relative;
}

li:before {
    content: "•";
    position: absolute;
    left: -15px;
}

.button {
    position: absolute;
    bottom: 24px;
    right: 24px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    width: 240px;
}

.button span {
    flex-grow: 1;
    text-align: left;
    font-size: 14px;
}

@media (max-width: 960px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        width: 100%;
    }

    .benefits-title,
    .card-ul,
    .button {
        position: static;
        margin-top: 20px;
    }

    .button {
        width: 100%;
        justify-content: center;
    }

    .button span {
        text-align: center;
    }
}

/* Mobile view */
@media (max-width: 600px) {
    .card {
        padding: 20px;
        height: auto;
    }

    .benefits-title,
    .card-ul,
    .button {
        position: static;
        margin-top: 20px;
    }

    .button {
        width: 100%;
        justify-content: center;
    }

    .button span {
        text-align: center;
    }
}